<aside class="main-sidebar">

  <section class="sidebar">

   
    
    
    <ul class="sidebar-menu" data-widget="tree">
      
    
      <li  routerLinkActive="actived"><a  [routerLink]="['./home']" ><i class="glyphicon glyphicon-home"></i> <span>欢迎</span> </a></li>
      <li  routerLinkActive="actived"><a  [routerLink]="['./category']" ><i class="glyphicon glyphicon-th"></i> <span>图书分类管理</span> </a></li>
      <li  routerLinkActive="actived"><a  [routerLink]="['./detail']"  ><i class="glyphicon glyphicon-book"></i>   <span>图书信息管理</span> </a></li>
      <li  routerLinkActive="actived"><a  [routerLink]="['./list']"  ><i class="glyphicon glyphicon-list-alt"></i>   <span>订单管理</span> </a></li>
      <li  routerLinkActive="actived"><a  [routerLink]="['./change']" ><i class="glyphicon glyphicon-repeat"></i>  <span>修改密码</span> </a></li>
      <li  routerLinkActive="actived"><a  [routerLink]="['./count']" ><i class="glyphicon glyphicon-signal"></i> <span>统计</span>  </a></li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>