.alert
{
padding: 0px;
text-align: center;
}
.alert-danger
{
    color: #a94442 !important;
    background-color:#f2f2f2 !important;
    border: none;
    padding: 5px;
    width: 90%;
    margin: auto;
}