<div class="content-wrapper">
    <section class="content-header">
      <h1>
        修改密码
      </h1>
      <ol class="breadcrumb">
        <li> <a  [routerLink]="['/index/home']" ><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a  [routerLink]="['/index/change']" >管理员管理</a></li>
      </ol>
    </section>
    <hr>
    <section class="content">
        <form style="width:600px;" [formGroup]="formModel" (submit)="frm_onsubmit()">
            <div class="form-group">
              <label for="oldpassword">原始密码</label>
              <input type="password" class="form-control" id="oldpassword" placeholder="请输入原始密码" [formControl]="oldpassword">
            </div>
            <div class="form-group">
              <label for="newpassword">新密码</label>
              <input type="password" class="form-control" id="newpassword" placeholder="请输入新密码"[formControl]="newpassword">
            </div>
            <div class="form-group">
                <label for="confirmpassword">重复密码</label>
                <input type="password" class="form-control" id="confirmpassword" placeholder="请确认密码" [formControl]="confirmpassword">
              </div>
              <div class="alert alert-danger" *ngIf="errormessage">{{errormessage}}</div>
            <button  class="btn btn-primary  " >确定</button>
          </form>
    </section>      
</div>